body{
     background-color: rgb(3, 83, 63);
}
.container{
    display: flex;
   
}
#vdo{
    border: 3px solid black;
    margin: 50px;
    padding: 30px;
    gap: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(177, 237, 237);
    box-shadow: 10px 10px 30px;
    flex: 1;
    border-radius: 20px;
    height: auto;
    width: auto;

}
#lin{
    border: 5px solid blue;
    background-color: blue;
    color: white;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    box-shadow: 0 1px 10px rgb(23, 67, 170);
    flex: 5;

}